/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28/03/2014, 10:33:13 AM
    Author     : desarrollo4
*/

body{
    background-image: url();
    /*background-color: red;*/
    /*background: #F1F1F1;*/
}

.style_tab_login{
    width: 90%;
    height: 95%;
}

.style_layoutUnit{
    border: 0px!important;
    /*background: #39C !important;*/
}

.style_inicio_sesion{
    /*background-color: #39C !important;*/
}

.style_superior{
    /*background: #39C!important;*/
    color: #FFF;
}

.ui-widget-content{
    background: #E7E7E7;
    /*color: #FFF;*/
    border: 0px solid #A8A8A8;
}

.ui-tabs .ui-tabs-nav{
    background: #236688;
    color: #FFF;
}
.ui-state-default{
    background: #39C;
    color: black;
}
/*.ui-widget-content .ui-state-default{
    background: azure;
}*/
.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield{
    background:#B5C3CC;
    color:#F0EEEE;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button{
    background: #B5C3CC;
    color:#F0EEEE;
}

/*.ui-widget input{
    background: #083047;
    color: #FFF;
    display: block;
    line-height: 1.4;
    font-weight: bold;
    text-shadow: 0px 1px 0px rgba(255,255,255,0.7);
    font-size: 1em;
    border: 1px solid #a8a8a8!important;
    cursor: pointer;
    text-align: center;
    zoom: 1;
    height: 35px;

}*/

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited{
    color: #FFF; 
    background:#419CCE;
}
.ui-button-text-only .ui-button-text{
    background: #083047;
    color: #FFF;
}

.ui-messages-error, .ui-message-error{
    background: #FFF;
    color: #FF7367;
}

.ui-layout-unit-content{
    background: #F1F1F1 
}

.titulo_principal{
    position: relative;
    top: -57px;
    color: #252525;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 23px;
    font-style: oblique;
    font-weight: bold;
    left: 123px;
}

.button_inicio{
    background: rgb(8, 48, 71);
color: rgb(255, 255, 255);
    display: block;
    line-height: 1.4;
    font-weight: bold;
    text-shadow: 0px 1px 0px rgba(255,255,255,0.7);
    font-size: 1em;
    border: 1px solid #a8a8a8!important;
    cursor: pointer;
    text-align: center;
    zoom: 1;
    height: 35px;
}
